<h1>Project list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Logo</th>
            <th>Content</th>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Path</th>
            <th>Slug</th>
            <th>Createdat</th>
            <th>Updatedat</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_ajax_project_show', { 'id': entity.id }) }}">{{ entity.logo }}</a></td>
            <td>{{ entity.content }}</td>
            <td>{{ entity.id }}</td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.description }}</td>
            <td>{{ entity.path }}</td>
            <td>{{ entity.slug }}</td>
            <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_ajax_project_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_ajax_project_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('admin_ajax_project_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
