{% extends "::admin.html.twig" %}

{% block body %}

<div class="clearfix">
    <div class="span" style="width: 325px" id="navigator">
        {% render 'FXLQCMBundle:Admin:Refresh' %}
    </div>

    <div id="ajax_form" class="span8"></div>

</div>

{% include 'FXLMagicBundle:Component:modal.html.twig' with {
    id: 'modal-return',
    buttonSave: false
} only %}

{% endblock %}

{% block js_ready %}
    createTree("qcm");
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fxlliteracy/js/overload.js')  }}"></script>
    {{parent()}}
    <script src="{{ asset('bundles/fxlmusic/js/jquery.treeview.js')  }}"></script>
    <script src="{{ asset('bundles/fxlmusic/js/jquery.treeview.edit.js')  }}"></script>
    <script src="{{ asset('bundles/fxlmusic/js/jquery.cookie.js')  }}"></script>
    <script src="{{ asset('bundles/fxlqcm/js/qcm.js')  }}"></script>
    <script src="{{ asset('bundles/fxlcommon/js/tree.js')  }}"></script>
    <script src="{{ asset('bundles/fxlcommon/js/widget.js')  }}"></script>
{% endblock %}

{% block css %}
    {{parent()}}
        <link href="{{ asset('bundles/fxlmusic/css/jquery.treeview.css')  }}" rel="stylesheet"  media="screen, print">
    <link href="{{ asset('bundles/fxlqcm/css/qcm.css')  }}" rel="stylesheet" media="screen, print">

{% endblock %}

