<h1>Act creation</h1>

<form action="{{ path('admin_ajax_act_create') }}" method="post" {{ form_enctype(form) }}>

         <div class="left_admin_form">
        {{ form_row(form.name) }}
        {{ form_row(form.number) }}

        </div>

        <div class="right_admin_form">
        {{ form_row(form.description) }}
        {{ form_row(form.project) }}
        </div>

        <div  class="clearfix"></div>

    <p>
        <button type="submit">Create</button>
    </p>
</form>

{% include 'FXLMusicBundle:Component:js/form_ajax.html.twig' %}