<h1>Sheet list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Description</th>
            <th>Name</th>
            <th>Slug</th>
            <th>Id</th>
            <th>Createdat</th>
            <th>Updatedat</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('sheet_show', { 'id': entity.id }) }}">{{ entity.description }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.slug }}</td>
            <td>{{ entity.id }}</td>
            <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('sheet_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('sheet_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
