{% extends 'FXLResumeBundle::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/fxlresume/css/resume1.css') }}">
{% endblock %}

{% block title %}CV de {{ resume.identity.firstName }} {{ resume.identity.lastName }}{% endblock %}

{% block body %}


    <div class="col-md-1" role="main"></div>
    <div class="section col-md-9" id="top" style="margin-top: 20px;">
    <h1 class="heading-1 heading-separator">
        {{ resume.identity.firstName }} {{ resume.identity.lastName }}<br>
        <span id="containerTitleSchuffle">CV - {{ resume.name }}</span>
    </h1>

    <div class="container bottom-separator text">
    <div class="left break col-7">
    <h3 class="heading-3 heading-small-separator">Compétences Techniques</h3>

    <ul class="listeCV">
    {% for tag in tags %}
    <li><strong>{{tag.name }}</strong> :
    {% endfor %}
    </ul>

    </div>
    <div class="right break col-5">
        <h3 class="heading-3 heading-small-separator">Mes atouts</h3>
        <ul class="listeCV">
            {% for trump in resume.trumps %}
                <li>{{ trump.name }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="clear"></div>

    <div class="cvtext">

        <h2 class="heading-2 heading-big-separator marginb20">Expérience professionnelle</h2>

        {#
        <h4><span class="date">09/2007 - Aujourd'hui</span><span class="poste">Webdesigner &amp; Développeur Web Freelance  <em>(Bordeaux,
                    Paris)</em></span></h4>

        <p><strong>Webdesigner</strong> et <strong>Développeur Web</strong> pour plusieurs sociétés. J'exécute
            en moyenne 3/4 missions chaque mois. Vous pouvez voir les <a
                    href="http://www.marchesson.com/#realisations">dernières réalisations</a> sur la page
            d'accueil, je suis également en charge du référencement de chacun de ces dossiers. Pour des raisons
            de confidentialité, je peux vous fournir <a href="http://www.marchesson.com/#contact">d'autres
                références sur demande</a>.</p>

        #}

        {% for experience in resume.experiences %}
            <h4><span class="date">{{ experience.startAt|date('Y-m') }} - {{ experience.finishAt|date('Y-m') }}</span>
                <span class="poste">{{ experience.type }}
                    <a href="http://{{ experience.website }}" rel="nofollow">{{ experience.company }}</a>
                    <em>({{ experience.city }})</em>
                </span>
            </h4>
            <p>{{ experience.description }}</p>

            <ul class="listeEmploi">
                {% for task in experience.tasks %}
                <li>{{ task.name }}</li>
                {% endfor %}
            </ul>

        {% endfor %}

        <h2 class="heading-2 heading-big-separator marginb20">Cursus scolaire</h2>
        {% for study in resume.studies %}
        <h4><span class="date">{{ study.startAt|date('Y') }} - {{ study.finishAt|date('Y') }}</span>
            <span class="school">{{ study.name }}</span></h4>
        <p>{{ study.description }}</p>
        {% endfor %}

        <h2 class="heading-2 heading-big-separator marginb20">Langues parlées</h2>

        <p>{{ resume.language }}</p>

        <h2 class="heading-2 heading-big-separator marginb20">Centres d'interêts</h2>

        <ul class="listeEmploi">
            {% for leisure in resume.leisures %}
                <li>{{ leisure.name }}</li>
            {% endfor %}
        </ul>

    </div>
    <!--/ .cvtext -->

    </div>
    <!--/ .container -->


    <div class="clear bottom-margin"></div>

    <h4 class="heading-4 heading-small-separator">Pour plus d'informations veuillez me contacter :</h4>

    <p>E-mail : <a href="mailto:contact(a)marchesson.com">{{ resume.identity.email }}</a>
            {# | Skype : <a
                href="skype:flashxman?call">flashxman
            #}
            <!-- <img src="http://mystatus.skype.com/smallicon/flashxman" alt="telephone contact" width="16" height="16" class="noprint" />--></a>
    </p>

    <div class="clear bottom-margin"></div>

    <div class="clear bottom-small-separator"></div>

    <div id="footer"></div>

    </div>
{% endblock %}